<launch>
  
    <arg name="dev" default="/dev/input/js0" />
    <arg name="robot_prefix" default="robot"/>

    <!-- Launch Spacenav-Joy node -->
    <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node"/>

    <!-- Joy Control Node -->
    <node name="joy_ctrl" pkg="robotics_joystick" type="joy_ctrl_node" output="screen" > 
        <param name="robot_prefix" type="str" value="$(arg robot_prefix)"/>
        <rosparam command="load" file="$(find robotics_joystick)/config/3dmouse_config.yaml" />
    </node>

    <!-- Servo Server -->
    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
        <param name="parameter_ns" type="string" value="optional_parameter_namespace" />
        <rosparam ns="optional_parameter_namespace" command="load" file="$(find robotics_joystick)/config/servo_config.yaml" />
    </node>

</launch>
