<launch>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>
  
    <group ns="$(arg robot_description)_planning">
        <!-- Remap Robot Parameters to correct prefix for Yaskawa GP400 -->
        <include file="$(find robotics_description)/launch/prefix_parameter.launch">
            <!-- "robot_prefix" describes the naming of the robot -->
            <!-- "path" is the folder path for robot config files -->
            <arg name="robot_prefix" value="gp400"/>
            <arg name="path" value="(find robotics_description)/config/gp400" />
        </include>

        <!-- Remap Robot Parameters to correct prefix for ABB IRB6660 -->
        <include file="$(find robotics_description)/launch/prefix_parameter.launch">
            <!-- "robot_prefix" describes the naming of the robot -->
            <!-- "path" is the folder path for robot config files -->
            <arg name="robot_prefix" value="irb6660"/>
            <arg name="path" value="(find robotics_description)/config/irb6660" />
        </include>
    </group>
    
</launch>