<?xml version="1.0" ?>
<robot name="robotics_scene" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Xacro Parameters -->
    <xacro:arg name="gp400_prefix"      default="gp400"/>
    <xacro:arg name="irb6660_prefix"    default="irb6660"/>
    <xacro:arg name="global_ref_frame"  default="world"/>

    <!-- Yaskawa GP400 Robot -->
        
        <!-- The Yaskawa-Robot-URDF xacro must be included with passing parameters -->
        <xacro:include filename="$(find robotics_support)/urdf/robots/gp400_macro.xacro"/>
        <!-- "prefix" describes the naming of the robot -->
        <!-- "ref_link" describes the reference_link of which the object (robot-base) is connected to -->
        <!-- "ref_xyz" [m] and "ref_rpy" [rad] describes the pose of the object (robot-base) relative to the reference-link -->
        <xacro:gp400_robot prefix   = "$(arg gp400_prefix)" 
                           ref_link = "$(arg global_ref_frame)"  
                           ref_xyz  = "0.000 -2.250 0.000" 
                           ref_rpy  = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}" />

    <!-- ABB IRB6660 Robot -->
        
        <!-- The ABB-Robot-URDF xacro must be included with passing parameters -->
        <xacro:include filename="$(find robotics_support)/urdf/robots/irb6660_macro.xacro"/>
        <!-- "prefix" describes the naming of the robot -->
        <!-- "ref_link" describes the reference_link of which the object (robot-base) is connected to -->
        <!-- "ref_xyz" [m] and "ref_rpy" [rad] describes the pose of the object (robot-base) relative to the reference-link -->
        <xacro:irb6660_robot prefix     = "$(arg irb6660_prefix)" 
                             ref_link   = "$(arg global_ref_frame)" 
                             ref_xyz    = "0.000 2.250 0.000" 
                             ref_rpy    = "${radians(0.00)} ${radians(0.00)} ${radians(0.00)}" />

    <!-- Environment Configuration-->

        <!-- Generate world-link-->
        <link name="world"/>
</robot>