<launch>

  <!-- YASKAWA GP400 -->
    <arg name="sim_robot_1" default="false" />  
    <arg name="robot_1_ip" default="192.168.1.10" unless="$(arg sim_robot_1)" />
    <arg name="robot_1_path" default="motoman_gp400_support" />
    <arg name="robot_1_namespace" default="robot_1"/>

  <!-- ABB IRB6660 -->
    <arg name="sim_robot_2" default="false" />  
    <arg name="robot_2_ip" default="192.168.1.10" unless="$(arg sim_robot_2)" />
    <arg name="robot_2_path" default="abb_irb6660_support" />
    <arg name="robot_2_namespace" default="robot_1"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" command="xacro '$(find robotics_support)/urdf/scene_urdf.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find robotics_support)/urdf/scene_srdf.xacro" />

  <!-- Load updated robot prefix parameters (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <!-- Remap Robot Parameters to correct prefix for Yaskawa GP400 -->
    <include file="$(find robotics_support)/launch/prefix_parameter.launch">
        <!-- "robot_prefix" describes the naming of the robot -->
        <!-- "path" is the folder path for robot config files -->
        <arg name="robot_prefix" value="gp400"/>
        <arg name="path" value="(find $(arg robot_1_path))/config" />
    </include>

    <!-- Remap Robot Parameters to correct prefix for ABB IRB6660 -->
    <include file="$(find robotics_support)/launch/prefix_parameter.launch">
        <!-- "robot_prefix" describes the naming of the robot -->
        <!-- "path" is the folder path for robot config files -->
        <arg name="robot_prefix" value="irb6660"/>
        <arg name="path" value="(find $(arg robot_2_path))/config" />
    </include>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
      <rosparam command="load" file="$(find robotics_support)/config/kinematics.yaml"/>
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotics_support)/config/rviz_settings.rviz" required="true" />
  
</launch>
