<launch>

    <!-- General Settings -->
    <arg name="multi_robot_spawn" value="true"/>

    <!-- Robot Settings -->

        <!-- YASKAWA GP400 -->
        <arg name="robot_1_simulation" default="true"/>  
        <arg name="robot_1_ip" default="192.168.1.10" unless="$(arg robot_1_simulation)"/>
        <arg name="robot_1_type" default="gp400"/>
        <arg name="robot_1_path" default="motoman_gp400_support"/>
        <arg name="robot_1_namespace" default="robot_1"/>

        <!-- ABB IRB6660 -->
        <arg name="robot_2_simulation" default="true"/>  
        <arg name="robot_2_ip" default="192.168.1.20" unless="$(arg robot_2_simulation)"/>
        <arg name="robot_2_type" default="irb6660"/>
        <arg name="robot_2_path" default="abb_irb6660_support"/>
        <arg name="robot_2_namespace" default="robot_2"/>

    <!-- Web Socket Parameters -->
    <arg name="port" default="9090"/>
    <arg name="address" default="0.0.0.0"/>

    <!-- Parameter Loading Section -->

    <!-- load the robot_description parameter before launching ROS-I nodes -->
    <!-- <include file="$(find robotics_support)/launch/planning_context.launch" >
        <arg name="multi_robot"             value="false"/>
        <arg name="robot_prefix"            value="$(arg robot_1_namespace"/>
        <arg name="robot_type"              value="$(arg robot_1_type" />
        <arg name="robot_support_path"      value="$(arg robot_1_support_path" />
        <arg name="load_robot_description"  value="true" />
    </include> -->

    <include file="$(find robotics_support)/launch/planning_context.launch" >
        <arg name="multi_robot"             value="$(arg multi_robot_spawn)"/>
        <arg name="robot_1_prefix"          value="$(arg robot_1_namespace)"/>
        <arg name="robot_1_type"            value="$(arg robot_1_type)" />
        <arg name="robot_1_support_path"    value="$(arg robot_1_path)" />
        <arg name="robot_2_prefix"          value="$(arg robot_2_namespace)"/>
        <arg name="robot_2_type"            value="$(arg robot_2_type)" />
        <arg name="robot_2_support_path"    value="$(arg robot_2_path)" />
        <arg name="load_robot_description"  value="true" />
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="true" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotics_support)/config/rviz_settings.rviz" required="true" />
    
</launch>