<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="europallet" params="prefix connected_to xyz rpy mesh_scale">

        <!-- Material -->
        <material name="${prefix}_wood">
            <color rgba="0.205 0.164 0.114 1" />
        </material>

        <!-- Coordinate System joint -->
        <joint name="${prefix}_csys_joint" type="fixed">
            <parent link="${connected_to}"/>
            <child link="${prefix}_csys"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

        <!-- The imported model -->
        <link name="${prefix}_csys">
            <visual>
                <origin xyz="-0.085 -2.0 -0.015" rpy="${radians(0)} ${radians(-90)} 0"/>
                <geometry>
                    <mesh filename="package://robotics_support/urdf/environment/auxilirary/meshes/visual/europallet.stl" 
                          scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
                </geometry>
                <material name="${prefix}_wood"/>
            </visual>
            <collision>
                <origin xyz="-0.085 -2.0 -0.015" rpy="${radians(0)} ${radians(-90)} 0"/>
                <geometry>
                    <mesh filename="package://robotics_support/urdf/environment/auxilirary/meshes/visual/europallet.stl" 
                          scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>
</robot>
