<?xml version="1.0"?>
<launch>
    
    <!-- General Settings -->

        <!-- Robot Settings -->
        <arg name="robot_prefix" default="robot"/>
        <arg name="robot_type" default="irb6660" />
        <arg name="robot_support_path" default="abb_irb6660_support" />

        <!-- Global Parameters -->
        <arg name="robot_description" value="robot_description"/>     <!-- The parameter-name under which the URDF is loaded -->
        
        <!-- RVIZ Config -->
        <arg name="joint_gui"       default="true" />   
        <arg name="rviz_config"     default="$(find robotics_spawn)/config/demo_rviz_settings.rviz" />
    
    <!-- ############################## -->
    <!--        Robot #1 - IRB6660      -->
    <!-- ############################## -->

        <!-- Load universal robot description format (URDF) -->
        <param name="$(arg robot_description)" 
                    command="xacro '$(find robotics_support)/urdf/robot_urdf.xacro' 
                        robot_prefix:=$(arg robot_prefix)
                        robot_type:=$(arg robot_type)"/>

        <!-- The semantic description that corresponds to the URDF -->
        <param name="$(arg robot_description)_semantic" 
                    command="xacro '$(find robotics_support)/urdf/robot_srdf.xacro' 
                        robot_prefix:=$(arg robot_prefix)
                        robot_type:=$(arg robot_type)"/>

    <!-- ############################## -->
    <!--        Move-It & RVIZ          -->
    <!-- ############################## -->

        <!-- Publish Joint-States -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg joint_gui)">
            <rosparam param="source_list" > [robot/controller_joint_states] </rosparam>
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg joint_gui)">
            <rosparam param="source_list" > [robot/controller_joint_states] </rosparam>
        </node>

        <!-- Publish Joint-States -->
        <!-- <node name="joint_state_pub" pkg="robotics_support" type="joint_state_publisher_node"/> -->

        <!-- Publish the Robot State (TF transforms) -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <!-- Rviz -->
        <include file="$(find robotics_support)/launch/moveit_rviz.launch">
            <arg name="rviz_config"     value="-d $(arg rviz_config)" />
        </include>

</launch>